* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	box-sizing: border-box;
}

body {
	background: #000123;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
}

.center {
	max-width: 900px;
	width: 60%;
	margin: auto;
}

main {
	background: url("./../img/contact.png");
	min-height: 100svh;
	background-size: cover;
}

h1 {
	font-size: 72px;
	margin-bottom: 30px;
	margin-top: 120px;
}

p,
.email {
	font-size: 22px;
	line-height: 35px;
}

.email {
	color: #ff0f7b;
	margin: 30px 0;
	font-weight: bolder;
}

ul {
	list-style: none;
	display: flex;
	gap: 20px;
}

ul img {
	height: 50px;
}
